// A wrapper container for the dashboard for size and position adjustments
.dashboard-container {
    height: 63vh;
    margin-top: 5vh;
}

// The whole box containing the dashboard
.dashboard {
    height: 100%;
    min-height: 100%;
    outline: none;
}

// The header containing the "Dashboard" text
.dashboard-header {
    font-size: 60px;
    color: white;
    text-shadow: -6px -4px #9C84FF;
    margin-bottom: 3vh;
}

/**
 * The space under the tab navbar that
 * contains each tab's content.
 */
.dash-body-wrapper { 
    background: white;
    border-radius: 10px;
    height: 100%;
}

// A wrapper that contains all the dashboard tabs
.dash-navbar { 
    background: none;
    width: 45%;

    .MuiTabs-indicator {
        background-color: #8367f1;
        height: 80%;
        opacity: 12%;
        border-radius: 10px;
        margin-bottom: 1%;
    }
}

// A single dashboard tab
.dash-tab { 
    color: #9C84FF;
    font-family: 'Josefin Sans', 'Roboto', sans-serif;
    font-weight: bold;
    background: none; 
    transition: font-size 0.5s;
    
    &.Mui-selected {
        font-size: 18px;
        color: #8367f1;
        background: none;
        transition: font-size 0.5s;
    }
}
