// Wrapper for the entire home page
.home-wrapper {
    height: 90%;
    padding: 1px;
}

// The box itself
.form-container {
    height: 90%;
    margin-top: 5%;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: white;
    border-radius: 40px;
}

// A wrapper for everything inside the box
.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 70%;
    padding: 10%;

    box-shadow: 3;    
    color: black;

    h2 {
        color: red;
    }

    div {
        color: red;
    }
}