@import "animations"; // this import must stay above all modules that use animations
@import "buttons";
@import "dashboard";
@import "fonts";
@import "home";
@import "textFields";
@import "popups";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');


html, body, #root, .App {
  height: 100%;
  margin: 0;
}

body {
  background-color: #1B1E75;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Roboto Condensed", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.05em, #6C2A84), color-stop(0.05em, transparent)), -webkit-gradient(linear, left top, right top, color-stop(0.05em, #6C2A84), color-stop(0.05em, transparent));
  background-image: linear-gradient(#6C2A84 0.05em, transparent 0.05em), linear-gradient(90deg, #6C2A84 0.05em, transparent 0.05em);
  background-size: 1em 1em;
}

code {
  font-family: "Josefin Sans", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  color: white;
  padding: 10px;
  border-radius: 5%;
  background-color: #8447D1;
  left: 0px;
  right: 80px;
  width: 100px;
  height: 40px;
  border: none;
}

.navbar-main {
  //background-color: #E478DA;
  padding: 1%;
  margin-top: 1%;
  font-family: 'Josefin Sans','Roboto';
  z-index: 1;
}

.nav-item {
  padding:1%;
  color: white;
  border-radius: 5px;
  background-color: #9C84FF;
  margin-right: 1%;
  padding: inherit;
  text-decoration: none;
  font-weight: 700;
  
  &:hover {
    background-color: #8367f1;
  }
}

image {
  max-height: 10%;
}

.banner {
  padding: 2%;
  height: 4%;
  margin-top: 1%;
  position: absolute;
  width: 100%;
  background-color: #FF95BB;
  z-index: -2;
}

.kattapon {
  position: absolute;
  color:white;
  line-height: .5;
  text-shadow: -10px -6px #9C84FF;
  left: 65%;
  font-family:'Roboto';
  font-weight: 1000;
  font-size: 128px;
}

.move-right {
  overflow: hidden;
  width:100%;
}

.circle1 {
  position: absolute;
  box-sizing: border-box;
  height: 420px;
  width: 420px;
  border-radius: 50%;
  z-index: -5;
  left: 0em;
}

.circle1:before {
  position: absolute;
  content: '';
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  border: 8px dashed white;
  top: -50%;
  right: -599%;
  border-radius: inherit;
  -webkit-animation: spin 80s linear infinite;
          animation: spin 80s linear infinite;
}

.circle2 {
  position: absolute;
  height: 480px;
  width: 480px;
  border-radius: 50%;
}

.circle2:before {
  position: absolute;
  content: '';
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  border: 4px dashed #FFAFF7;
  top: -163%;
  right: -690%;
  border-radius: inherit;
  -webkit-animation: spin2 40s linear infinite;
          animation: spin2 40s linear infinite;
}

.circle3 {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.circle3:before {
  position: absolute;
  content: '';
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  border: 4px dashed #FCFF5C;
  top: -290%;
  right: -780%;
  border-radius: inherit;
  -webkit-animation: spin 30s linear infinite;
          animation: spin 30s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes spin2 {
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@keyframes spin2 {
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}
/*# sourceMappingURL=main.css.map*/